header {
    background-color: aquamarine;
}

h1 {
    text-align: center;
    color: blueviolet;
}

h2 {
    color: cornflowerblue;
}

section {
    background-color:rgb(163, 228, 163);
}

a {
    background-color: rgb(42, 157, 165);
}

aside {
    display: none;
}